<div class="text-light d-flex text-center p-5">
    <div class="m-auto w-50 p-5 fs-5">
        <p class="m-auto w-75">
            Este proyecto va a actuar como una enciclopedia de superhéroes y los equipos a los
            que pertenecen. Habrá datos de los más famosos ya existentes pero también es una
            forma creativa de inventar nuevos y juntarlos con tus superhéroes favoritos.<br>
            ¡Espero que te diviertas y aprendas algo nuevo sobre ellos!
        </p>

        <p class="m-auto mt-5 w-75">
            Tienes la posibilidad de ver un listado de los diferentes equipos y héroes, puedes ver a sus detalles,
            crear uno nuevo, editarlos y eliminarlos. No es posible eliminar un equipo con miembros asignados.
        </p>

        <div class="d-flex justify-content-center mt-4">
            <p class="my-auto mt-5">Héroes protegiendo el planeta actualmente:</p>
            <p class="my-auto mt-5 ms-3 text-warning fw-semibold fs-5">{{heroes}}</p>
        </div>
        <div class="d-flex justify-content-center">
            <p class="my-auto mt-2">Equipos creados para aumentar su eficacia:</p>
            <p class="my-auto mt-2 ms-3 text-warning fw-semibold fs-5">{{teams}}</p>
        </div>
    </div>
</div>